body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px auto;
    max-width: 1000px !important;
    min-width: 330px !important;
}

h2 {
    text-align: center;
}

#esquerda {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 250px;
}

#direita {
    display: flexbox;
    justify-content: center;
    min-width: 446px;
}

#direita table th{
    padding: 7px 10px;
}

#direita table td{
    padding: 7px 10px;
}

#botoes { /*Botões da tabela*/
    min-width: 132px;
}

input[type=submit] {
    padding: 6px;
    margin: 3px;
    font-size: 12pt;
    font-weight: 600;
    color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    cursor: pointer;
}

#cadastrar {
    background-color: #28A745;
}

#visualizar {
    background-color: #007BFF;
}


/*******PÁGINA Visualizar.php************************/

#link-cadastrar {
    display: inline-block;
    background: #007BFF;
    font-size: 12pt;
    font-weight: 600;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
}

#link-cadastrar a {
    text-decoration: none;
    color: white;
}

#alterar {
    background-color: #FFC107;
    color: white;
    min-width: 80px;
    text-decoration: none;
    border-radius: 5px;
    padding: 6px;
    font-size: 12pt;
    font-weight: 600;
}

#excluir {
    background-color: #DC3545;
    color: white;
    min-width: 80px;
    text-decoration: none;
    border-radius: 5px;
    padding: 6px;
    font-size: 12pt;
    font-weight: 600;
}

/*************************************/

#botao-voltar {
    background-color: #FFC107;
    padding: 8px;
    margin: 3px;
    font-size: 12pt;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: 1px solid #CCC;
    border-radius: 5px;
    cursor: pointer;
}